<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto post-form-container">
            <h2 class="h2"><%= @user_profile.name %></h2>
            <!-- user_profileテーブルのnameカラムを取り出してる-->
            <%= form_with(url: follow_profile_path(@user_profile.user_id), local: true, method: :post, html: { class: 'post-form' }) do |f| %>
                <div class="button-group">                    
                    <%= f.submit 'フォローする', class: 'btn btn-primary' %>
                    <!--<%= link_to 'フォローをやめる', destroy_profile_path(@user.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %> -->
                </div>
            <%end%>
        </div>
    </div>
</div>