<h3>通報</h3>
<%= form_with (url: (@post ? create_post_report_path(@post) : create_comment_report_path(@comment)), model: [@user, @report], local: true, method: :post) do |f| %>
    <div class="form-group">
        <%= f.text_area :reason, class:"form-control" %>
        <%= f.text_field :url, class:"form-control" %>
        <%= f.submit "通報する", class: "btn btn-danger" %>
    </div>
<% end %>